---
- name: Nginx for machine1
  hosts: all
  become: true

  tasks:
    - name: Install nginx using apt
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: yes
        cache_valid_time: 3600

    - name: Create content directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /var/www/site1.local/images
        - /var/www/site1.local/assets
        - /var/www/site1.local/html

    - name: Create a test index file
      ansible.builtin.copy:
        dest: /var/www/site1.local/html/index.html
        content: "<h1>Main Page</h1>"

    - name: Create a test image file placeholder
      ansible.builtin.copy:
        dest: /var/www/site1.local/images/test.txt
        content: "This is a file in /images/"

    - name: Create a test asset file placeholder
      ansible.builtin.copy:
        dest: /var/www/site1.local/assets/style.css
        content: "/* This is a file in /assets/ */"

    - name: Disable the default Nginx site
      ansible.builtin.file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify: Restart Nginx

    - name: Configure Nginx for site1.local
      copy:
        content: |
          server {
              listen 80;
              server_name site1.local;

              location / {
                  root /var/www/site1.local/html;
                  index index.html;
              }

              location /images/ {
                  root /var/www/site1.local;
              }

              location /assets/ {
                  alias /var/www/site1.local/assets/;
                }
          }
        dest: /etc/nginx/sites-enabled/site1.local.conf
      notify: Restart Nginx

  handlers:
      - name: Restart Nginx
        ansible.builtin.service:
          name: nginx
          state: restarted
          enabled: yes
