---
- name: Configure machine1 as a Load Balancer
  hosts: machine1
  become: true
  tasks:
    - name: Install Nginx
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Allow HTTP traffic on UFW
      community.general.ufw:
        rule: allow
        port: '80'
        proto: tcp

    - name: Configure Nginx as a load balancer
      ansible.builtin.copy:
        dest: /etc/nginx/sites-available/default
        content: |
          upstream backend_servers {
              server 192.168.77.12;
              server 192.168.77.13;
          }

          server {
              listen 80 default_server;
              listen [::]:80 default_server;

              location / {
                  proxy_pass http://backend_servers;
                  proxy_set_header Host $host;
                  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                  proxy_set_header X-Forwarded-Proto $scheme;
              }
          }
      notify: Restart Nginx
      
  handlers:
      - name: Restart Nginx
        ansible.builtin.service:
          name: nginx
          state: restarted
          enabled: yes

