---
- name: Nginx for machine1
  hosts: all
  become: true

  tasks:
    - name: Install nginx using apt
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: yes
        cache_valid_time: 3600

    - name: Disable the default Nginx site
      ansible.builtin.file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify: Restart Nginx

    - name: Create index.html page
      ansible.builtin.copy:
        content: "<h1>Welcome</h1><p>This is the main page.</p>"
        dest: /usr/share/nginx/html/index.html
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Create about.html page
      ansible.builtin.copy:
        content: "<h1>About Us</h1><p>This is the about page.</p>"
        dest: /usr/share/nginx/html/about.html
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Create contacts.html page
      ansible.builtin.copy:
        content: "<h1>Contacts</h1><p>This is the contacts page.</p>"
        dest: /usr/share/nginx/html/contacts.html
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Create custom 404.html page
      ansible.builtin.copy:
        content: "<h1>404 Not Found</h1><p>Sorry, the page you are looking for does not exist.</p>"
        dest: /usr/share/nginx/html/404.html
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Configure Nginx for site1.local
      ansible.builtin.copy:
        content: |
          server {
              listen 80;
              server_name site1.local;
              root /usr/share/nginx/html;

              index index.html;
              error_page 404 /404.html;

              location / {
                  try_files $uri $uri/ $uri.html =404;
              }

              location = /old-contacts {
                  return 301 /contacts;
              }
              
              location = /404.html {
                internal;
              }
          }
        dest: /etc/nginx/sites-enabled/site1.local.conf
      notify: Restart Nginx

  handlers:
      - name: Restart Nginx
        ansible.builtin.service:
          name: nginx
          state: restarted
          enabled: yes
